html,
body {
  font-family: open-sans, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

img {
  display: block;
}

/* *****EXAMPLE STYLES**** */

/* These `example` classnames should be replaced with
  * the slug of the video selector you would like to style.
  * Every video selector is wrapped with its own slug
  * as a classname so that it can be targeted and have different styles.
*/

.example.video-selector {
  background-color: aqua;
  width: 1920px;
  height: 1080px;
}

.example .graphic {
  /* display: none; */
  height: 1080px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 1920px;
}

.example .title-container {
  align-items: center;
  display: flex;
  justify-content: space-around;
  /* position: absolute;
  top: 0; */
}

.example .title.es {
  color: purple;
}

.example .title.en-US {
  color: blue;
}

.example .title.fr {
  color: green;
}

.example .list-item {
  border: 1px solid black;
  max-height: 400px;
  margin: 20px;
  width: 200px;
  /* make sure buttons are above background */
  z-index: 500;
}

.example .hide-selection {
  z-index: -1;
}

.example .list-item img {
  height: 200px;
  width: 200px;
}

.example .list-container {
  display: flex;
  justify-content: center;
}

.example .language-switcher {
  bottom: 42px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  left: 40px;
  outline: none;
  position: absolute;
}

.example .language-switcher .language {
  background-color: rgb(255 255 255 / 25%);
  border-radius: 5px;
  margin-right: 15px;
  padding: 7px;
}

.example .language-switcher .language a {
  color: white;
  text-decoration: none;
}

.example .captions {
  background-color: pink;
  top: 950px;
  color: blue;
  position: absolute;
  text-align: center;
  width: 1920px;
}

.example .captions.fr {
  background-color: peachpuff;
  top: 975px;
  color: green;
  position: absolute;
}

.example .captions.es {
  background-color: orange;
  top: 1000px;
  color: purple;
  position: absolute;
}

.example .selection-title {
  display: flex;
  justify-content: center;
}

.example .selection-title.en-US {
  color: blue;
}

.example .selection-title.fr {
  color: green;
}

.example .selection-title.es {
  color: purple;
}

.example .divider {
  border: 1px solid blue;
  width: 50%;
}

.example .divider.fr {
  border: 1px solid green;
}

.example .divider.es {
  border: 1px solid purple;
}

.example .hide-wrapper {
  opacity: 0;
}

.example .wrapper {
  background-color: black;
}

.example #player-container {
  display: flex;
  justify-content: center;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.example video {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
  left: 0;
}

.example .progress {
  background: white;
  height: 20px;
  width: 1920px;
  position: absolute;
  top: 1055px;
}

.example .progress-fill {
  background-color: gold;
  height: 20px;
}

/* .example .progress-fill.es {
  background-color: pink;
  height: 20px;
}

.example .progress-fill.fr {
  background-color: peachpuff;
  height: 20px;
} */

/* .example .icon {
  background: url("back.svg") no-repeat;
  color: white;
  height: 100px;
  width: 100px;
} */

.example .transport-container {
  background-color: green;
  top: 1000px;
  padding: 10px;
  left: 20px;
  position: absolute;
}